mixin TagGroup(tags)
    each v,k in tags
        - var tagCls = "tag_" + (k % 4);
        div.tag(class="#{tagCls}")=v
mixin ArticleTitle(obj)
    .articleTitle
        p.time=obj.time
        h1.title=obj.title
        +TagGroup(obj.about)

mixin CustomizeDropdown(v)
    .menubar
        .pure-button-group(role='group')
            a.pure-button(title="Front End Framework" href="/" class=v===1 ? "pure-button-active":null)
                img(src="//dkny.oss-cn-hangzhou.aliyuncs.com/1/icons/vue.png")

            a.pure-button(title="Node.js Framework" href="/node/" class=v===2 ? "pure-button-active":null)
                img(src="//dkny.oss-cn-hangzhou.aliyuncs.com/1/icons/mongo.png")

            a.pure-button(title="JS Library" href="/library/" class=v===3 ? "pure-button-active":null)
                img(src="//dkny.oss-cn-hangzhou.aliyuncs.com/1/icons/bower.png")

            a.pure-button(title="Tool" href="/site/" class=v === 4 ? "pure-button-active" : null)
                img(src="//dkny.oss-cn-hangzhou.aliyuncs.com/1/icons/site.png")

            a.pure-button(title="Article" href="/article/" class=v === 5 ? "pure-button-active" : null)
                img(src="//dkny.oss-cn-hangzhou.aliyuncs.com/1/icons/flight.png")




doctype html
html
    include head
body
    .pure-g
        .pure-u-1-5.sidebar
            include sidebar
        .pure-u-4-5.content
            +CustomizeDropdown(page)
            block content
            +CustomizeDropdown(page)
            include footer
    script(type='text/javascript' src='#{bundleDir}?ed5')