mixin TagGroup(tags)
    each v,k in tags
        - var tagCls = "tag_" + (k % 5);
        div.tag(class="#{tagCls}")=v
mixin ArticleTitle(obj)
    .articleTitle
        p.time=obj.time
        h1.title=obj.title
        +TagGroup(obj.about)

mixin CustomizeDropdown(v)
    .menubar
        .pure-button-group(role='group')
            a.pure-button(href="/" class=v===1 ? "pure-button-active":null) Front End
            //-a.pure-button(href="/site" class=v === 3 ? "pure-button-active" : null) Site
            a.pure-button(href="/node" class=v===2 ? "pure-button-active":null) Node.js




doctype html
html
    include head
body
    .pure-g
        .pure-u-1-5.sidebar
            include sidebar
        .pure-u-4-5.content
            +CustomizeDropdown(page)
            block content
            +CustomizeDropdown(page)
            include footer


