mixin TagGroup(tags)
    each v,k in tags
        - var tagCls = "tag_" + (k % 5);
        div.tag(class="#{tagCls}")=v
mixin ArticleTitle(obj)
    .articleTitle
        p.time=obj.time
        h1.title=obj.title
        +TagGroup(obj.about)

mixin CustomizeDropdown(v)
    .menuDrop
        span.custom-dropdown
            select
                option(value="/" selected=v===1) Front End
                option(value="/node" selected=v === 2) Node.js
                option(value="/resource" selected=v===3) Resource
                option(value="/site" selected=v === 4) Website


doctype html
html
    include head
body
    .pure-g
        .pure-u-1-5.sidebar
            include sidebar
        .pure-u-4-5.content
            +CustomizeDropdown(page)
            block content
            +CustomizeDropdown(page)
            include footer


