extends ../layout

block content
    main
        each oneGroup, index1 in package
            h3.grpTitle
                //-i.fa(class=oneGroup.icon)
                |   #{oneGroup.name}
            .pure-g
                each oneLink, index2 in oneGroup.list
                    .pure-u-xl-1-4.pure-u-lg-1-3.pure-u-md-1-2.pure-u-sm-1-2.pure-u-1-2
                        .box
                            .boxLeft
                                if oneLink.img
                                    img(src="/main/assets/#{oneLink.img}")
                                else
                                    - var colorList = ['#8156a7','#999','#df2d4f','#4d85d1','#5aba59']
                                    - var clr = colorList[(index1 + index2) % colorList.length]
                                    i.fa.fa-cube(style="color: #{clr}")
                            .boxRight
                                h5(title=oneLink.desc) #{oneLink.name}
                                div
                                    a(href="https://github.com/#{oneLink.github}")
                                        i.fa.fa-github
                                        | #{oneLink.star}

