extends ../layout

block content
    main
        each oneGroup, index1 in list
            br
            h3.grpTitle
                |   #{oneGroup.name}
            .pure-g
                each oneLink, index2 in oneGroup.list
                    .pure-u-xl-1-4.pure-u-lg-1-3.pure-u-md-1-2.pure-u-sm-1-2.pure-u-1-2
                        .box(data-i=oneLink.img data-g=oneLink.github data-s=oneLink.star)
                            .boxLeft
                            .boxRight
                                h5(title=oneLink.desc) #{oneLink.name}
                                div
            br
    p.updateTxt